<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teste</title>
    <link rel="stylesheet" type="text/css" href="css/teste.css">

</head>
<body>

<header>
    <h1>Yugioh Forbidden Memories</h1>
    <h3>Remake</h3>
</header>
<content>
    <hr>
    <menu>
        <ul>
            <li>Novo Jogo</li>
            <li>Carregar</li>
            <li>Duelar</li>
            <li>Inventário</li>
            <li>Mercado</li>
            <li>Opções</li>
        </ul>
    </menu>
    <hr>
    ...

    <hr>


</content>



</body>
</html>